# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
ign*

# next.js
/client/.next/
/client/out/

# production
client/build

# misc
.DS_Store
*.pem
logs
*.crt
*.key
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#secrets
server/secrets/
